.suggestion-item .linked-vocabs.lcsh-lcc-pre,
.suggestion-item .linked-vocabs.lcsh-lcc,
.suggestion-item .linked-vocabs.lcsh-lcc-classification,
.suggestion-item .linked-vocabs.lcsh-altLabel,
.suggestion-item .linked-vocabs.lcsh-note-pre {
	display: inline-block;
}

.suggestion-item .linked-vocabs.lcsh-note {
	display: inline;
}
